.player{
    display: flex;
    align-items: center;
    background-color: bisque;
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span{
        font-size: 32px;
        margin-left: 16;
    }

    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active{
    width: 400px;
}